<%- include('../../partials/header'); %>
<div class="main-content">
  <div class="page-content">
    <div class="">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-xxl-12">
            <div class="team-list row list-view-filter">
              <div class="col-lg-12">
                <div class="card team-box">
                  <div class="card-header">
                    <div class="row g-2">
                      <div class="col-md-5 d-flex align-items-center">
                        <p class="fs-16 m-0 fw-semibold text-muted">
                          Product Enquiries
                          <!-- export-customers -->
                        </p>
                      </div>
                      <form action="/admin/product-queries" class="col-sm-auto ms-auto action-form">
                        <div class="input-group">
                          <span class="input-group-text">Start & End Date </span>
                          <input type="date" class="form-control" name="startDate" value="<%= queryParams?.startDate %>" />
                          <input type="date" class="form-control" name="endDate" value="<%= queryParams?.endDate %>" />
                          <button
                            class="btn btn-outline-secondary add-btn filter-btn"
                            type="button"
                            data-url="/admin/product-queries"
                          >
                            <i class="ri-filter-line me-1 align-bottom"></i>
                            Filter
                          </button>
                          <button
                            class="btn btn-outline-dark export-btn"
                            type="button"
                            data-url="/admin/export-product-queries"
                          >
                            <i class="ri-download-line me-1 align-bottom"></i>
                            Export
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="container-fluid">
        <div class="team-list row list-view-filter">
          <div class="col-lg-12">
            <div class="card team-box">
              <div class="card-body">
                <div>
                  <div class="table-responsive table-card">
                    <table class="table align-middle fs-13" id="customerTable">
                      <thead class="table-secondary">
                        <tr>
                          <th width="5%">SR NO.</th>
                          <th width="25%">PRODUCT</th>
                          <th width="25%">CARD</th>
                          <th width="25%">CUSTOMER</th>
                          <th width="20%">DATE/TIME</th>
                        </tr>
                      </thead>
                      <tbody class="list form-check-all">
                        <% queries.forEach((query, index) => { %>
                        <tr>
                          <td>
                            <p class="text-muted mb-0"><%= ++index %></p>
                          </td>
                          <td>
                            <div class="team-content">
                              <p class="text-muted mb-0">
                                <span class="">Name:</span> <%= query.Product?.name %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Short Desc: </span> <%=
                                query.Product?.shortDescription %>
                              </p>
                            </div>
                          </td>
                          <td>
                            <div class="team-content">
                              <p class="text-muted mb-0">
                                <span class="">Name:</span> <%= query?.UserCardClicks[0]?.Card?.name
                                %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Type:</span> <%= query?.UserCardClicks[0]?.Card?.type
                                %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Fees:</span> <%= query?.UserCardClicks[0]?.Card?.fees
                                %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Link:</span>
                                <a
                                  href="<%= query?.UserCardClicks[0]?.Card?.link %>"
                                  target="_blank"
                                >
                                  <%= query?.UserCardClicks[0]?.Card?.link %></a
                                >
                              </p>
                            </div>
                          </td>
                          <td>
                            <div class="team-content">
                              <p class="text-muted mb-0">
                                <span class="">Name:</span> <%= query?.name %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Phone:</span> <%= query?.User.phone %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Email:</span> <%= query?.email %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Type:</span> <%= query?.employment %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Annual Income:</span>
                                <%= query.annualIncome !== null ?
                                Number(query?.annualIncome?.toFixed(0)).toLocaleString('en-US') :
                                'N/A' %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Tentative credit limit:</span>
                                <%= !isNaN(query?.tentativeCreditLimit) ? '' :
                                Number(query?.tentativeCreditLimit?.toFixed(0)).toLocaleString('en-US')%>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Have Credit Card:</span>
                                <%= query?.creditCardHolder ? 'Yes' : 'No' %> <% if
                                (query?.creditCardHolder) { %> | <%= query?.creditCardType %> | <%=
                                query?.creditCardProvidedBy %> <% } %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">From:</span>
                                <%= query?.city %> | <%= query?.state %> | <%= query?.pincode %>
                              </p>
                              <p class="text-muted mb-0">
                                <% for (const key in query.utms) { %>
                                <span
                                  ><%= key.replace(/([a-z])([A-Z])/g, '$1 $2').toUpperCase() %>: <%=
                                  query.utms[key] %> <br
                                /></span>
                                <% } %>
                              </p>
                            </div>
                          </td>
                          <td>
                            <p class="text-muted mb-0 format-date"><%= query.createdAt %></p>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <%- include('../../../components/admin/partials/pagination'); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<script>
  document.querySelector('.export-btn').addEventListener('click', (event) => {
    const form = document.querySelector('.action-form');
    form.setAttribute('action', '/admin/export-product-queries');
    form.submit();
  });
  document.querySelector('.filter-btn').addEventListener('click', (event) => {
    const form = document.querySelector('.action-form');
    form.setAttribute('action', '/admin/product-queries');
    form.submit();
  });
</script>
<%- include('../../partials/footer'); %>
