<%- include('../../partials/header'); %>
<div class="main-content">
  <div class="page-content">
    <div class="">
      <!-- start page title -->
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-xxl-12">
            <div class="team-list row list-view-filter">
              <div class="col-lg-12">
                <div class="card team-box">
                  <div class="card-header">
                    <div class="row g-2">
                      <div class="col-md-5 d-flex align-items-center">
                        <p class="fs-16 m-0 fw-semibold text-muted">
                          Home Loan Enquiries
                          <!-- export-customers -->
                        </p>
                      </div>
                      <form
                        action="/admin/home-loan-queries"
                        class="col-sm-auto ms-auto action-form"
                      >
                        <div class="input-group">
                          <span class="input-group-text">Start & End Date </span>
                          <input type="date" class="form-control" name="startDate" value="<%= queryParams?.startDate %>" />
                          <input type="date" class="form-control" name="endDate" value="<%= queryParams?.endDate %>" />
                          <button
                            class="btn btn-outline-secondary add-btn filter-btn"
                            type="button"
                            data-url="/admin/home-loan-queries"
                          >
                            <i class="ri-filter-line me-1 align-bottom"></i>
                            Filter
                          </button>
                          <button
                            class="btn btn-outline-dark export-btn"
                            type="button"
                            data-url="/admin/export-home-loan-queries"
                          >
                            <i class="ri-download-line me-1 align-bottom"></i>
                            Export
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <div class="container-fluid">
        <div class="team-list row list-view-filter">
          <div class="col-lg-12">
            <div class="card team-box">
              <div class="card-body">
                <div>
                  <div class="table-responsive table-card">
                    <table class="table align-middle fs-13" id="customerTable">
                      <thead class="table-secondary">
                        <tr>
                          <th width="5%">SR NO.</th>
                          <th width="15%">PRODUCT</th>
                          <th width="30%">CUSTOMER ENQUIRY</th>
                          <th width="10%">DATE/TIME</th>
                        </tr>
                      </thead>
                      <tbody class="list form-check-all">
                        <% queries.forEach((query, index) => { %>
                        <tr>
                          <td>
                            <p class="text-muted mb-0"><%= ++index %></p>
                          </td>
                          <td>
                            <div class="team-content">
                              <p class="text-muted mb-0">
                                <span class="">Name:</span> <%= query.Product?.name %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Short Desc: </span> <%=
                                query.Product?.shortDescription %>
                              </p>
                            </div>
                          </td>
                          <td>
                            <div class="team-content">
                              <p class="text-muted mb-0">
                                <span class="">Full Name:</span> <%= query.name %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Phone:</span> <%= query.User.phone %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Email:</span> <%= query.email %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Loan Amount:</span> <%= query.loanAmount %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">City of Residence:</span>
                                <%= query.city %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Employment Type:</span>
                                <%= query.employment %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Primary Bank Account:</span> <%= query.bankAccount %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Pancard:</span> <%= query.pancard %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Property Type:</span> <%= query.propertyType %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Tentative Purchase Month:</span> <%=
                                query.tentativePurchaseMonth %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">Type:</span> <%= query.type %>
                              </p>
                              <p class="text-muted mb-0">
                                <span class="">DOB:</span> <%= new
                                Date(query.dob).toISOString().slice(0, 10); %>
                              </p>
                              <p class="text-muted mb-0">
                                <% for (const key in query.utms) { %>
                                <span
                                  ><%= key.replace(/([a-z])([A-Z])/g, '$1 $2').toUpperCase() %>: <%=
                                  query.utms[key] %> <br
                                /></span>
                                <% } %>
                              </p>
                            </div>
                          </td>
                          <td>
                            <p class="text-muted mb-0 format-date"><%= query.createdAt %></p>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <%- include('../../../components/admin/partials/pagination'); %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<div
  class="modal fade"
  id="createProductModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 802px">
    <div class="modal-content border-0">
      <div class="modal-header bg-soft-info p-3">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modal"
        ></button>
      </div>
      <form class="checkout-tab create-product-form">
        <!--end modal-body-->
        <div class="modal-body">
          <div class="row g-3">
            <!--end col-->
            <div class="col-lg-6">
              <div>
                <label for="productName" class="form-label">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  placeholder="Enter "
                  name="name"
                  maxlength="100"
                />
              </div>
            </div>
            <!--end col-->
            <div class="col-lg-6">
              <div>
                <label for="productIcon" class="form-label">Product Icon</label>
                <input
                  type="file"
                  class="form-control icon"
                  id="productIcon"
                  placeholder="Enter "
                  name="icon"
                  accept=".jpg,.jpeg,.png,.gif"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productShortDescription" class="form-label">Product Short Desc</label>
                <input
                  type="text"
                  class="form-control"
                  id="productShortDescription"
                  placeholder="Enter "
                  name="shortDescription"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productLongDescription" class="form-label">Product Long Desc</label>
                <textarea
                  class="form-control"
                  id="productLongDescription"
                  placeholder="Enter "
                  name="longDescription"
                  maxlength="1000"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineOne" class="form-label">Product Tag Line One</label>
                <input
                  type="text"
                  class="form-control"
                  id="productTagLineOne"
                  placeholder="Enter "
                  name="tagLineOne"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineTwo" class="form-label">Product Tag Line Two</label>
                <input
                  type="text"
                  class="form-control"
                  id="productTagLineTwo"
                  placeholder="Enter "
                  name="tagLineTwo"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineThree" class="form-label">Product Tag Line Three</label>
                <input
                  type="text"
                  class="form-control"
                  id="productTagLineThree"
                  placeholder="Enter "
                  name="tagLineThree"
                  maxlength="100"
                />
              </div>
            </div>

            <!--end col-->
            <div class="col-lg-12">
              <div class="d-flex align-items-start gap-3 mt-3">
                <button
                  type="submit"
                  class="btn btn-primary btn-label right ms-auto nexttab"
                  data-nexttab="pills-bill-address-tab"
                >
                  <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                  Save
                </button>
              </div>
            </div>
            <!--end col-->
          </div>
        </div>
        <!--end modal-body-->
      </form>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="editProductModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 802px">
    <div class="modal-content border-0">
      <div class="modal-header bg-soft-info p-3">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="close-modal"
        ></button>
      </div>
      <form class="checkout-tab edit-product-form">
        <!--end modal-body-->
        <div class="modal-body">
          <div class="row g-3">
            <!--end col-->
            <div class="col-lg-6">
              <div>
                <label for="productName" class="form-label">Product Name</label>
                <input
                  type="text"
                  class="form-control product-name"
                  id="productName"
                  placeholder="Enter "
                  name="name"
                  maxlength="100"
                />
              </div>
            </div>
            <!--end col-->
            <div class="col-lg-6">
              <div>
                <label for="productIcon" class="form-label">Product Icon</label>
                <input
                  type="file"
                  class="form-control edit-icon"
                  id="productIcon"
                  placeholder="Enter "
                  name="icon"
                  accept=".jpg,.jpeg,.png,.gif"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productShortDescription" class="form-label">Product Short Desc</label>
                <input
                  type="text"
                  class="form-control product-short-desc"
                  id="productShortDescription"
                  placeholder="Enter "
                  name="shortDescription"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productLongDescription" class="form-label">Product Long Desc</label>
                <textarea
                  class="form-control product-long-desc"
                  id="productLongDescription"
                  placeholder="Enter "
                  name="longDescription"
                  maxlength="1000"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineOne" class="form-label">Product Tag Line One</label>
                <input
                  type="text"
                  class="form-control product-tag-line-one"
                  id="productTagLineOne"
                  placeholder="Enter "
                  name="tagLineOne"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineTwo" class="form-label">Product Tag Line Two</label>
                <input
                  type="text"
                  class="form-control product-tag-line-two"
                  id="productTagLineTwo"
                  placeholder="Enter "
                  name="tagLineTwo"
                  maxlength="100"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label for="productTagLineThree" class="form-label">Product Tag Line Three</label>
                <input
                  type="text"
                  class="form-control product-tag-line-three"
                  id="productTagLineThree"
                  placeholder="Enter "
                  name="tagLineThree"
                  maxlength="100"
                />
              </div>
            </div>

            <!--end col-->
            <div class="col-lg-12">
              <div class="d-flex align-items-start gap-3 mt-3">
                <button
                  type="submit"
                  class="btn btn-primary btn-label right ms-auto nexttab"
                  data-nexttab="pills-bill-address-tab"
                >
                  <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                  Save
                </button>
              </div>
            </div>
            <!--end col-->
          </div>
        </div>
        <!--end modal-body-->
      </form>
    </div>
  </div>
</div>
<script type="module" src="/javascripts/admin/product.js"></script>
<%- include('../../partials/footer'); %>
