<div class="tab-pane fade" id="speed" role="tabpanel">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-3">
      <h5>My Products</h5>
    </div>
    <form action="/cards/compare" class="compare-cards-form">
      <div class="col-md-12">
        <% cards.forEach(card => { %>
        <div class="card product px-0 mb-3">
          <div class="card-body">
            <div class="row gy-3">
              <div class="col-sm-auto">
                <div class="avatar-lg bg-light rounded p-1">
                  <img <% if(card.icon !== null) { %> src="/uploads/<%=
                  card.icon %>" <% } else { %>
                  src="/customer-assets/img/credit-card-img.jpg" <% } %>
                  class="img-fluid d-block" />
                </div>
              </div>
              <div class="col-sm">
                <h6 class="fs-14 text-truncate">
                  <a href="javascript:;" class="text-dark"><%= card.name %></a>
                </h6>
                <p class="mb-1">Best Suited For:</p>
                <ul class="list-inline text-muted">
                  <li class="list-inline-item"><%= card.type %></li>
                </ul>
              </div>
              <div class="col-sm-auto">
                <div class="text-lg-end">
                  <p class="text-muted mb-2">
                    1st Year Fees
                    <span class="tag_sign ms-2"
                      ><i class="fas fa-check me-1"></i> Pre-Approved</span
                    >
                  </p>
                  <h5>
                    ₹
                    <span class="product-price"
                      ><b><%= card.fees.toFixed(2) %></b></span
                    >
                  </h5>
                  <p>
                    (Joining fee reversed on spends of<br />
                    30,000 till 31st Dec 23)
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- card body -->
          <div class="card-footer">
            <div class="row align-items-center gy-3">
              <div class="col-sm">
                <div class="d-flex flex-wrap my-n1">
                  <div>
                    <a
                      href="JavaScript:void(0)"
                      class="d-block text-body p-1 px-2 text-blue card-details_btn card-detail-btn"
                      ><i class="fas fa-chevron-down fs-12"></i> Details</a
                    >
                  </div>
                  <div class="mt-1 ms-5">
                    <input
                      type="checkbox"
                      name="cardId"
                      value="<%= card.id %>"
                      class="cards-compare-checkbox"
                    />
                    Compare
                  </div>
                </div>
              </div>
              <div class="col-sm-auto">
                <p class="mb-0">
                  <img
                    src="/customer-assets/img/tag-2.png"
                    style="width: 20px"
                  />
                  Why this card
                </p>
                <h6 class="fs-12 mb-0">
                  Complimentary Economy Class Ticket voucher on fee payment
                </h6>
              </div>
            </div>
          </div>
          <!-- end card footer -->

          <div class="card-details_wrap pt-4 pb-4 px-4 d-none">
            <%- card.description %>
          </div>
        </div>
        <% }) %>
        <div class="col-sm-4 px-0">
          <button class="btn btn-primary">Compare</button>
        </div>
      </div>
    </form>
  </div>
</div>
